# Virtual environment
venv/

# Environment variables
.env

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Logs
logs/

# Airflow
airflow/airflow.db
airflow/logs/

# Processed data
data/processed/

# SQLite
*.db